<h1>ログイン</h1>
<%= form_for(:session, url: login_path) do |form| %>
  <!--保存されている場合はUpdate,未保存はCreateアクションへ-->
  <%= form.label :email_address %>
  <%= form.email_field :email_address %>
  <br>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <br>
  <%= form.submit "Log in" %>
  <p>New user? <%= link_to "Sign up now!", new_customer_path %></p>
<% end %>