<% provide(:title,'Sin up')%>
<h1>Sign up</h1>
<div class= "container">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with model: @user, url: users_path do |form| %>
      <!--エラー出力-->
      <% if form.object.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-danger">
            <%= pluralize(@user.errors.count, "error") %>
            <ul>
              <% form.object.errors.full_messages.each do |message|  %>
                <li><%= message %></li>
              <% end  %>
            </ul>
          </div>
        </div>
      <% end %>

      <!--入力フォーム-->
      <%= form.label :family_name %>
      <%= form.text_field :family_name, placeholder: "例）田中" %>

      <%= form.label :last_name %>
      <%= form.text_field :last_name, placeholder: "例）太郎"%>

      <%= form.label :family_name_furigana %>
      <%= form.text_field :family_name_furigana, placeholder: "例）タナカ"%>

      <%= form.label :last_name_furigana %>
      <%= form.text_field :last_name_furigana, placeholder: "例）タロウ"%>

      <%= form.label :email_address %>
      <%= form.text_field :email_address, placeholder: "例）user@example.com"%>

      <%= form.label :password %>
      <%= form.password_field :password, placeholder: "半角英数字で入力してください"%>

      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, placeholder: "再度入力してください"%>

      <%= form.label :postal_code %>
      <%= form.text_field :postal_code, placeholder: "000-0000"%>

      <%= form.label :address %>
      <%= form.text_field :address, placeholder: "東京都台東区浅草橋9-99-999-909"%>

      <%= form.submit%>
    <% end %>
  </div>
</div>

