<h1>会員情報ページ</h1>

<% @customers.each do |customer| %>
    <%= customer.family_name%>
    <br>
    <%= customer.last_name%>
    <br>
    <%= customer.family_name_furigana%>
    <br>
    <%= customer.last_name_furigana%>
    <br>
    <%= customer.email_address%>
    <br>
    <%= customer.password%>
<%end%>