<% provide(:title,'User List')%>
<h1>User List</h1>

<table class="table">
    <tr>
        <th scope="col">id</th>
        <th scope="col">姓</th>
        <th scope="col">名</th>
        <th scope="col">姓(フリガナ)</th>
        <th scope="col">姓(ナマエ)</th>
        <th scope="col">メールアドレス</th>
        <th scope="col">パスワード</th>
        <th scope="col">作成日</th>
        <th scope="col">更新日</th>
        <th scope="col">変更</th>
    </tr>
    <% @customers.each do |customer| %>
        <tr>
            <td scope="row"><%= customer.id%></td>
            <td scope="row"><%= customer.family_name%></td>
            <td scope="row"><%= customer.last_name%></td>
            <td scope="row"><%= customer.family_name_furigana%></td>
            <td scope="row"><%= customer.last_name_furigana%></td>
            <td scope="row"><%= customer.email_address%></td>
            <td scope="row"><%= customer.password%></td>
            <td scope="row"><%= customer.created_at%></td>
            <td scope="row"><%= customer.updated_at%></td>
        </tr>
    <%end%>
</table>