<h1>顧客一覧</h1>
<table border="1">
    <tr>
        <th>id</th>
        <th>姓</th>
        <th>名</th>
        <th>姓(フリガナ)</th>
        <th>姓(ナマエ)</th>
        <th>メールアドレス</th>
        <th>パスワード</th>
        <th>作成日</th>
        <th>更新日</th>
    </tr>
    <% @customers.each do |customer| %>
        <tr>
            <td><%= customer.id%></td>
            <td><%= customer.family_name%></td>
            <td><%= customer.last_name%></td>
            <td><%= customer.family_name_furigana%></td>
            <td><%= customer.last_name_furigana%></td>
            <td><%= customer.email_address%></td>
            <td><%= customer.password%></td>
            <td><%= customer.created_at%></td>
            <td><%= customer.updated_at%></td>
        </tr>
    <%end%>
</table>