<!--フォームにて登録-->
<%= form_with model: @customer, url: customers_path do |form| %>
  <div>
    <%= form.label :family_name %>
    <%= form.text_field :family_name, placeholder: "姓" %>
  </div>

  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name, placeholder: "名"%>
  </div>

  <div>
    <%= form.label :family_name_furigana %>
    <%= form.text_field :family_name_furigana, placeholder: "姓（フリガナ）"%>
  </div>

  <div>
    <%= form.label :last_name_furigana %>
    <%= form.text_field :last_name_furigana, placeholder: "名（フリガナ）"%>
  </div>
  
  <div>
    <%= form.label :email_address %>
    <%= form.text_field :email_address, placeholder: "user@example.com"%>
  </div>
  
  <div>
    <%= form.label :password %>
    <%= form.password_field :password, placeholder: "Please enter your password"%>
  </div>
  
  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, placeholder: "Please enter your password again"%>
  </div>
  
  <%= form.submit%>

  <% if form.object.errors.any? %>
  <div class="alert alert-danger">
      <% form.object.errors.full_messages.each do |message|  %>
        <div>
          <%= message %>
        </div>
      <% end  %>
    </div>
  <% end %>

<% end %>