<h1>個人情報</h1>
<p><%= @customer.family_name%></p>
<p><%= @customer.last_name%></p>
<p><%= @customer.family_name_furigana%></p>
<%= @customer.last_name_furigana%></p>
<%= @customer.email_address%></p>
<%= @customer.password%></p>
<%= @customer.created_at%></p>
<%= @customer.updated_at%></p>