<h1>個人情報</h1>

<p><%= @customer.family_name%></p>
<p><%= @customer.last_name%></p>
<p><%= @customer.family_name_furigana%></p>
<p><%= @customer.last_name_furigana%></p>
<p><%= @customer.email_address%></p>
<p><%= @customer.password%></p>
<%= link_to "編集", edit_customer_path(@customer) %>
<%= button_to "削除", customer_path(@customer.id), method: :delete %>