<h1>個人情報</h1>

<p><%= @customer.family_name%></p>
<p><%= @customer.last_name%></p>
<p><%= @customer.family_name_furigana%></p>
<p><%= @customer.last_name_furigana%></p>
<p><%= @customer.email_address%></p>
<p><%= @customer.password%></p>
<<<<<<< HEAD
<%= link_to "編集", edit_customer_path(@customer) %>
<%= button_to "削除", customer_path(@customer.id), method: :delete %>
=======
<p><%= @customer.created_at%></p>
<p><%= @customer.updated_at%></p>
>>>>>>> 9568a2cef54ca2d23426e59391f9a6844bac3f06
