<% provide(:title,'Edit')%>
<h1>Edit</h1>

<%= form_for(@product, url: product_path(@product)) do |product| %>
    <div>
        <%= product.text_field :product_name, autofocus: true, :placeholder =>"#{@product.product_name}" %>
    </div>

    <div>
        <%= product.text_field :tax_excluded_price, autofocus: true, :placeholder =>"#{@product.tax_excluded_price}" %>
    </div>

    <div>
        <%= product.text_field :description, autofocus: true, :placeholder =>"#{@product.description}" %>
    </div>
    <div>
        <%= product.select :article, Product.enum_options_for_select(:article), {prompt: @product.article}, class: "prefecture-select"%>
    </div>
    <div>
        <%= product.collection_select(:product_category_id,ArticleCategory.all,:id,:product_category_name,class:"prefecture-select")%>
    </div>
    <div>
        <%= product.collection_select(:appraisal_document_id,AppraisalDocument.all,:id,:appraisal_document_name,class:"prefecture-select")%>
    </div>

    <div>
        <%= product.collection_select(:country_id,Country.all,:id,:country_name,class:"prefecture-select")%>
    </div>
    <div>
        <%= product.collection_select(:era_id,Era.all,:id,:era_name,class:"prefecture-select")%>
    </div>
    <div>
        <%= product.collection_select(:sign_id,Sign.all,:id,:sign_person,class:"prefecture-select")%>
    </div>
    <div>
        <%= product.select :sales_status, Product.enum_options_for_select(:sales_status),class: "prefecture-select"%>
    </div>
    <div>
        <%= product.submit "更新する" %>
    </div>
<% end %>