<% provide(:title,'Product registration')%>
<h1>Product registration</h1>
<div class= "container">
    <div class="col-md-6 col-md-offset-3">
    <%= form_with model: @product, url: products_path do |form| %>
    
        <!--エラー出力-->
        <% if form.object.errors.any? %>
            <div id="error_explanation">
                <div class="alert alert-danger">
                    <%= pluralize(@product.errors.count, "error") %>
                    <ul>
                        <% form.object.errors.full_messages.each do |message|  %>
                        <li><%= message %></li>
                        <% end  %>
                    </ul>
                </div>
            </div>
        <% end %>
        <!--入力フォーム-->  
        <%= form.label :product_name %>
        <%= form.text_field :product_name, placeholder: "商品名" %>
        
        <%= form.label :description %>
        <%= form.text_field :description, placeholder: "商品説明"%>
        
        <%= form.label :article_category_id %>
        <%= form.text_field :article_category_id, placeholder: "品物カテゴリID"%>
        
        <%= form.label :article_id %>
        <%= form.select :article_id, Product.enum_options_for_select(:article_id), {prompt: "選択してください"}, class: "prefecture-select"%>

        <%= form.label :appraisal_document_name %>
        <%= form.collection_select(:appraisal_document_id,AppraisalDocument.all,:id,:appraisal_document_name,{prompt: "選択してください"},class:"prefecture-select")%>

        <%= form.label :country_id %>
        <%= form.text_field :country_id, placeholder: "国ID"%>
        
        <%= form.label :era_id %>
        <%= form.text_field :era_id, placeholder: "時代ID"%>
        
        <%= form.label :sign_id %>
        <%= form.text_field :sign_id, placeholder: "銘"%>
        
        <%= form.label :sales_status %>
        <%= form.select :sales_status, Product.enum_options_for_select(:sales_status), {prompt: "選択してください"}, class: "prefecture-select"%>

        <%= form.submit%>
        <% end %>
    </div>
</div>

