    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
         <%= link_to image_tag("edoz-logo.svg", alt: "edoz-logo", width: "150"),root_path %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "HOME",users_path %></li>
            <li><%= link_to "Signup",new_user_path %></li>
            <li><%= link_to "Login",login_path %></li>
          </ul>
        </nav>
      </div>

      <!--ログイン状態の判定-->
      <% if logged_in? %>
        <%= render 'users/logged_in' %>
      <% else %>
        <%= render 'users/not_logged_in' %>
      <% end %>
      
    </header>
