<!DOCTYPE html>
<html>
  <head>
    <title>TOUKEN</title>
    <%= stylesheet_link_tag 'application', media: 'all','data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_importmap_tags %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->

  </head>
  <body>
    <header>
      <div>
        <nav>
          <ul>
            <li><%= link_to "HOME",customers_path %></li>
            <li><%= link_to "Signup",new_customer_path %></li>
            <li><%= link_to "Login",login_path %></li>
          </ul>
        </nav>
      </div>

      <!--ログイン状態の判定-->
      <% if logged_in? %>
        <%= render 'customers/logged_in' %>
      <% else %>
        <%= render 'customers/not_logged_in' %>
      <% end %>
    </header>
    <div>
      <%= yield %>
    </div>
  </body>
</html>